<section id="contact" class="contact-section">
  <h2>Contact Me</h2>
  <div class="contact-info">
    <p><strong>Phone:</strong> <a href="tel:+917349206596"> +91 7349206596</a></p>
    <p><strong>Email:</strong> <a href="mailto:banoshiravalnath@gmail.com"> banoshiravalnath&#64;gmail.com</a></p>
    <p><strong>Alternate Email:</strong> <a href="mailto:banoshirahul2@gmail.com"> banoshirahul2&#64;gmail.com</a></p>
    <p><strong>Location:</strong> Karnataka, India</p>
  </div>
  <div class="contact-image">
    <img src="assets/images/profile.jpeg" alt="Ravalnath Banoshi" />
  </div>
</section>